# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files('data/song_data')

In [5]:
filepath = song_files[0]

In [6]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARMAC4T1187FB3FA4C,40.82624,"Morris Plains, NJ",-74.47995,The Dillinger Escape Plan,207.77751,1,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,2004

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_columns = ['song_id', 'title', 'artist_id', 'year', 'duration']
song_data = df[song_columns].values.tolist()[0]
song_data

['SOBBUGU12A8C13E95D',
 'Setting Fire to Sleeping Giants',
 'ARMAC4T1187FB3FA4C',
 2004,
 207.77751]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_columns = ['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']
artist_data = df[artist_columns].values.tolist()[0]
artist_data

['ARMAC4T1187FB3FA4C',
 'The Dillinger Escape Plan',
 'Morris Plains, NJ',
 40.82624,
 -74.47995]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data')

In [12]:
filepath = log_files[0]

In [13]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Celeste,F,0,Williams,NaN,free,"Klamath Falls, OR",GET,Home,1.541078e+12,438,None,200,1541990217796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
1,Pavement,Logged In,Sylvie,F,0,Cruz,99.16036,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",PUT,NextSong,1.540266e+12,345,Mercy:The Laundromat,200,1541990258796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10
2,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Celeste,F,1,Williams,277.15873,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1541990264796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
3,Gary Allan,Logged In,Celeste,F,2,Williams,211.22567,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Nothing On But The Radio,200,1541990541796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
4,None,Logged In,Jacqueline,F,0,Lynch,NaN,paid,"Atlanta-Sandy Springs-Roswell, GA",GET,Home,1.540224e+12,389,None,200,1541990714796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",29

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
nextsong_df = df[df['page'] == 'NextSong']
nextsong_df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
1,Pavement,Logged In,Sylvie,F,0,Cruz,99.16036,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",PUT,NextSong,1.540266e+12,345,Mercy:The Laundromat,200,1541990258796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10
2,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Celeste,F,1,Williams,277.15873,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1541990264796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
3,Gary Allan,Logged In,Celeste,F,2,Williams,211.22567,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Nothing On But The Radio,200,1541990541796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
5,Charttraxx Karaoke,Logged In,Celeste,F,3,Williams,225.17506,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,438,Fireflies,200,1541990752796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53
6,The Libertines,Logged In,Jacqueline,F,1,Lynch,179.53914,paid,"Atlanta-Sandy Springs-Roswell, GA",PUT,NextSong,1.540224e+12,389,The Good Old Days,200,1541990842796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",29

In [15]:
t = pd.to_datetime( nextsong_df['ts'], unit='ms')
t.head()

1   2018-11-12 02:37:38.796
2   2018-11-12 02:37:44.796
3   2018-11-12 02:42:21.796
5   2018-11-12 02:45:52.796
6   2018-11-12 02:47:22.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = list(zip(t.dt.time, t.dt.hour, t.dt.day, t.dt.weekofyear, t.dt.month, t.dt.year, t.dt.weekday))
column_labels = ('timestamp', 'hour', 'day', 'week_of_year', 'month', 'year', 'weekday')

In [17]:
time_df = pd.DataFrame(data=time_data, columns=column_labels)
time_df.head()

         timestamp  hour  day  week_of_year  month  year  weekday
0  02:37:38.796000     2   12            46     11  2018        0
1  02:37:44.796000     2   12            46     11  2018        0
2  02:42:21.796000     2   12            46     11  2018        0
3  02:45:52.796000     2   12            46     11  2018        0
4  02:47:22.796000     2   12            46     11  2018        0

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_columns = ['userId', 'firstName', 'lastName', 'gender', 'level']
user_df = nextsong_df[user_columns]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [21]:
for index, row in nextsong_df.iterrows():

    #print(row.song + " :: " + row.artist + " :: " + str(row.length))
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    #cur.execute(song_select, (row.song,)) #, (row.song,)
    results = cur.fetchone()
    
    if(results != None) : 
        print("Results: " + str(results))
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
        
    # insert songplay record
    # songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
    timestamp = (pd.to_datetime( row.ts, unit='ms' )).time()

    print(index-1)
    print(timestamp)
    
    songplay_data = [timestamp, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent]
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

0
02:37:38.796000
1
02:37:44.796000
2
02:42:21.796000
4
02:45:52.796000
5
02:47:22.796000
6
02:50:21.796000
7
02:54:26.796000
8
02:57:12.796000
9
03:00:48.796000
10
03:03:24.796000
11
03:36:28.796000
17
06:13:27.796000
19
08:50:44.796000
20
08:54:58.796000
21
08:58:41.796000
22
09:02:12.796000
23
09:03:03.796000
24
09:07:43.796000
26
10:18:43.796000
27
10:21:13.796000
28
10:26:06.796000
29
10:29:54.796000
30
10:33:24.796000
31
10:35:02.796000
32
10:37:47.796000
33
10:42:06.796000
34
11:19:48.796000
35
11:41:09.796000
39
11:41:22.796000
41
11:45:25.796000
46
11:50:45.796000
47
11:55:04.796000
48
14:02:48.796000
49
14:06:03.796000
50
14:09:24.796000
51
14:15:49.796000
52
14:16:59.796000
53
14:20:12.796000
54
14:20:24.796000
55
14:22:43.796000
56
14:25:19.796000
57
14:26:23.796000
58
14:29:47.796000
59
14:30:25.796000
61
15:04:10.796000
62
15:08:04.796000
63
15:12:54.796000
67
15:50:10.796000
69
15:51:41.796000
71
15:53:42.796000
72
15:54:11.796000
73
15:55:33.796000
74
15:57:55.796000
75
16:02:28.796000
76
16:06:56.796000
77
16:06:58.796000
78
16:10:24.796000
79
16:11:06.796000
80
16:14:04.796000
81
16:16:28.796000
82
16:20:22.796000
83
16:24:04.796000
84
16:28:10.796000
86
16:39:44.796000
87
16:42:43.796000
89
16:47:58.796000
90
16:50:55.796000
91
16:54:06.796000
92
17:00:31.796000
93
17:03:08.796000
94
17:05:45.796000
97
17:07:47.796000
98
17:09:31.796000
99
17:13:05.796000
100
17:21:40.796000
101
17:24:43.796000
102
17:25:19.796000
103
17:26:37.796000
104
17:31:06.796000
105
17:35:03.796000
106
17:38:41.796000
108
17:39:42.796000
110
17:41:35.796000
111
17:43:36.796000
112
17:46:54.796000
113
17:50:13.796000
114
17:52:30.796000
115
17:55:25.796000
116
17:59:19.796000
117
18:03:31.796000
119
18:07:24.796000
120
18:07:25.796000
121
18:11:19.796000
123
18:15:11.796000
124
18:19:41.796000
125
18:23:25.796000
126
18:27:49.796000
127
18:32:49.796000
128
18:35:09.796000
129
18:40:12.796000
130
18:43:23.796000
132
18:47:23.796000
134
18:51:23.796000
135
18:55:20.796000
136
18:59:06.796000
138
19:02:37.796000
139
19:02:58.796000
140
19:06:40.796000
141
19:06:46.796000
142
19:08:56.796000
143
19:09:22.796000
144
19:10:42.796000
145
19:12:59.796000
146
19:15:31.796000
147
19:16:42.796000
149
19:21:23.796000
151
19:24:18.796000
153
19:29:51.796000
154
19:31:48.796000
155
19:32:51.796000
157
19:36:16.796000
158
19:40:36.796000
159
19:45:03.796000
160
19:46:03.796000
161
19:49:00.796000
162
19:49:24.796000
163
19:52:25.796000
164
19:54:11.796000
165
19:59:04.796000
166
20:42:53.796000
167
20:47:36.796000
170
20:48:35.796000
172
20:52:03.796000
173
20:56:31.796000
175
21:00:14.796000
176
21:00:45.796000
177
21:03:22.796000
179
21:04:41.796000
180
21:07:21.796000
181
21:08:13.796000
182
21:08:44.796000
183
21:10:22.796000
184
21:11:41.796000
185
21:16:12.796000
186
21:17:58.796000
187
21:18:01.796000
188
21:21:00.796000
189
21:22:01.796000
190
21:25:09.796000
191
21:28:51.796000
192
22:00:04.796000
193
22:03:45.796000
195
22:22:22.796000
196
22:25:58.796000
197
22:29:56.796000
199
22:41:56.796000
200
22:45:06.796000
201
22:49:47.796000
202
22:53:52.796000
203
22:58:03.796000
204
23:05:19.796000
205
23:07:32.796000
206
23:10:12.796000
207
23:13:42.796000
208
23:17:39.796000
209
23:20:49.796000

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [19]:
conn.close()

NameError: name 'conn' is not defined

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.